@import url('https://fonts.googleapis.com/css2?family=Anton&family=Changa+One:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Changa One", sans-serif;
    
}


body {
    font-family: Arial, sans-serif;
    background-color: #FBE5E7;
    color: black;
}


.nav {
    background-color: #201761; /* PINK */
    color:#DBD6F4 ;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}



.nav h1{
    color: white;
    
}

.logo {
    font-size: 22px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 55px;
}

.nav-links a {
    text-decoration: none;
    color: #DBD6F4;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}


.resume {
    max-width: 10000px;
    
    
    background: #DBD6F4;
    margin: 90px auto;
    padding: 70px;
    border-radius: 9px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}


.name {
    font-size: 32px;
    margin-bottom: 5px;
}

.role {
    font-size: 18px;
    color: #a01f4a;
    margin-bottom: 20px;
}

h3 {
    margin-top: 25px;
    margin-bottom: 10px;
    color: #2c3e50;
}

p {
    line-height: 2.5;
    font-size: 20px;

}

ul {
    margin-left: 20px;
    font-size: 30px;
}

ul li {
    margin-bottom: 6px;
    font-size: 20px;
}
h2{
    font-size: 30px;
}




    
