@import url('https://fonts.googleapis.com/css2?family=Anton&family=Changa+One:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Changa One", sans-serif;
    
}




body {
    font-family: Arial, sans-serif;
    background-color: #FBE5E7;
    color: #333;
}


.bar {
    background-color: #201761;
    color: #DBD6F4;
    color: #c5c3c3;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.bar h1{
    color: white;
}



.achievements-container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
}

.section-title  {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    color: #2c3e50;
}


.achievement-card {
    background: #DBD6F4;
    padding: 25px;
    margin-bottom: 20px;
    font-size: 18px;
    border-left: 6px solid #DBD6F4;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.08);
}

.achievement-card h3 {
    margin-bottom: 10px;
    color: #201761;
}

.achievement-card p {
    line-height: 2.6;
}



