@import url('https://fonts.googleapis.com/css2?family=Anton&family=Changa+One:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Changa One", sans-serif;

}

.section-bar {
    background-color: #201761; /* PINK */
    color: white ;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-size: large;
}






.section-content {
  background-color:  #F8CEC0;
  
  margin-left: 0;
  margin-right: auto;
  padding: 250px 35px;
  border-left: 6px solid #201761;
  border-radius: 0 12px 12px 0;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);

}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.contact-list li {
  font-size: 16px;
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #333;
  font-size: 20px;
align-items: center;
}



.contact-list a {
  color: #DBD6F4;
  text-decoration: none;
  font-weight: 500;
}

.contact-list a:hover {
  text-decoration: underline;
}




