
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Changa+One:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Changa One", sans-serif;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ui{
    list-style-type: none;
    display: flex;

}


.navbar ui li a{
    text-decoration: none;
    margin: 10px;
    font-size: 30px;
    padding-left: 50px; 
}

.navbar ui li a:hover{
  color: #DBD6F4;
}

h1{
    margin: 20px;
    padding: 20px;
    color: #201761;
}

.site-header {
  text-align: center;   
  padding: 1rem;
}

.site-header h1 {
  margin: 0 0 0.5rem 0; 
}

.site-header nav ul {
  list-style:none;
  margin: 0%;
  padding: 0%;
  display: flex;
  gap: 1rem;
  justify-content: center; 
}

.site-header a {
  text-decoration: none;
  color: #201761;
}

.site-header {
  background-color:#FBE5E7; /* light pink */
}

body {
  background-color:  #DBD6F4; /* hot pink */
}

.profile-pic {
  width: 177px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%; 
  box-shadow: 0 0 20px  #DBD6F4; 
  border: 3px solid #F8CEC0 ; 
  float: right; 
  margin: 20px; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Changa One", sans-serif;
}

body {
  background: #e6e1f5;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 10%;
  min-height: 100vh;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  font-size: 40px;
  color: #2c1a64;
  margin: 10px;
  padding: 20px;
}

.home-content h1 span {
  color: #4a2fd6;
}

.home-content h2 {
  font-size: 22px;
  margin: 10px 0;
  color: #333;
}

.home-content p {
  margin: 20px 0;
  font-size: 25px;
  line-height: 1.6;
  font-family: "Changa One", sans-serif;
}


